*{
    margin:0;
    padding:0;
}
input, select{
    margin:1%;
    padding:0.5%;
}
select{
    padding:1%;
}
div{
    width:45%;
    display:inline-block;
    vertical-align: text-top;
    margin:1%;
}
h1{
    text-align: center;
    margin:1%;
}
body{
    background-color: #e1e1e1;
}
#principal{
    border-bottom:0.1em solid black;
}
#qdadeAv{
    margin:1%;
}
#tituloAvaliacoes,#tituloResumo{
    margin-bottom: 2%;
}